{
	"env": {
		"node": true
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": [
		"@typescript-eslint",
		"prettier", 
		"import"
	],
	"extends": [
		"prettier/prettier" // Make sure this is always the last element in the array.
	],
	"rules": {
		"prettier/prettier": ["warn", {}, { "usePrettierrc": true }],
		"curly": "warn",
		"sort-imports": [
			"warn",
			{
				"ignoreDeclarationSort": true, // don"t want to sort import lines, use eslint-plugin-import instead
				"allowSeparatedGroups": true
			}
      	],
		"import/order": [
        	"warn",
			{
				"groups": [
					"builtin", // Built-in imports (come from NodeJS native) go first
					"external", // <- External imports
					"internal", // <- Absolute imports
					["sibling", "parent"], // <- Relative imports, the sibling and parent types they can be mingled together
					"index", // <- index imports
					"unknown" // <- unknown
				],
				"newlines-between": "always",
				"alphabetize": {
					/* sort in ascending order. Options: ["ignore", "asc", "desc"] */
					"order": "asc",
					/* ignore case. Options: [true, false] */
					"caseInsensitive": true
				}
			}
    	]
	}
}
